@model BusinessLayer.Ticket

@{
    ViewData["Title"] = "Create";
    List<int> nums = ViewBag.Seats;
}

<h1>Reserve</h1>

<h4>Ticket</h4>
<hr />
<form asp-action="Create">


<div class="row">
    <div class="col-md-4">
        <section>
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ShowtimeId" class="control-label"></label>
                    <select asp-for="ShowtimeId" class="form-control" asp-items="ViewBag.Showtimes"></select>
                </div>
                <input type="hidden" name="additionalInfo1" id="additionalInfo1" />
                <input type="hidden" name="additionalInfo2" id="additionalInfo2" />
           

                <div class="form-group">
                    <input type="submit" value="Create" onclick="MyFunction()" class="btn btn-primary" id="buttonForCreate" />
                </div>
            
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2" style="background-color: #d8f7ff">
        <section>
            <body>
                <ul class="showcase" style="background-color: #d8f7ff">
                    <li>
                        <div class="seat"></div>
                        <small>Available</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>Selected</small>
                    </li>
                    <li>
                        <div class="seat sold"></div>
                        <small>Sold</small>
                    </li>
                </ul>
                <div class="container">
                    <div class="screen"></div>

                    @for (int i = 0; i < 7; i++)
                    {
                        <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;" >
                            @for (int j = 1; j <= 8; j++)
                            {
                                @if(nums.Contains(8*(i+1)+j))
                                {
                                    <div class="seat sold"></div>
                                }
                                else
                                {
                                    <input class="seat" type="checkbox" name="ids" value="@(8*i+j)" />
                                }
                                
                            }
                            
                            
                        </div>
                        </div>
                    }

                    @*<div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;" >
                            
                            <div class="seat"><input type="checkbox" name="seat1" value="1" />1</div>
                            <div class="seat"><input type="checkbox" name="seat2" value="2" />2</div>
                            <div class="seat"><input type="checkbox" name="seat3" value="3" />3</div>
                            <div class="seat"><input type="checkbox" name="seat4" value="4" /></div>
                            <div class="seat"><input type="checkbox" name="seat5" value="5" /></div>
                            <div class="seat"><input type="checkbox" name="seat6" value="6" /></div>
                            <div class="seat"><input type="checkbox" name="seat7" value="7" /></div>
                            <div class="seat"><input type="checkbox" name="seat8" value="8" /></div>
                        </div>
                    </div>
                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>

                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat sold"></div>
                            <div class="seat sold"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat sold"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>
                    <div class="containers" style="display: flex; justify-content: center;">
                        <div class="row-seat" style="display: flex;">
                            <div class="seat"></div>
                            <div class="seat sold"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>
                    </div>*@
                </div>

                <p class="text">
                    You have selected <span id="count">0</span> seat for a price of LV.<span id="total">0</span>
                </p>
                
            </body>
        </section>
    </div>
    <script src="~/js/site.js"></script>
</div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

