@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="centered">Welcome to My Cinema</h1>
    <p class="centered">Discover the latest movies, showtimes, and more!</p>
    <img src="~/img/homePagePic.png" alt="Cinema" class="bigger-image" />
</div>

