@using BusinessLayer;
@using DataLayer;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject IdentityContext identityContext

@model IEnumerable<BusinessLayer.Showtime>

@{
    ViewData["Title"] = "Reservation";
}

@*<h1>Reservation</h1>*@

@{
    DemoHelper.Instance.ControlAreaMaxWidth = Unit.Percentage(100);
}

@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Hint/ChoosingSeat.css")" />
}

@Html.DevExpress().Hint(settings => {
    settings.Name = "Hint";
    settings.TargetSelector = "[title]";
}).GetHtml()
@Html.Partial("ChoosingSeatPartial")
